<h1>New Post: What were you up to in <%=@place["name"]%>?</h1>

<%= form_with url: "/entries", method: "post" do |form| %>

  <p>
    <%= form.label "title", "Title" %>
    <%= form.text_field "title" %>
  </p>
    <p>
    <%= form.label "description", "Description" %>
    <!-- Made it a text area instead of text field to give more space -->
    <%= form.text_area "description" %>
  </p>
  <p>
    <%= form.label "posted_on", "Date" %>
    <%= form.date_field "posted_on" %>
  </p>
  <%= form.hidden_field :place_id, value: @place.id %>
  <%= form.submit %>
<% end %>
