<!-- Place details page -->

<h1>Entries from <%= @place["name"] %></h1>

<ul>
  <% for entry in @entries %>
  <!-- Added some style elements to make it look a bit cleaner -->
 <div style="margin-bottom: 20px;">
    <h2><%= entry["title"] %></h2>
    <h4 style="margin-top: -15px;"><%= entry["posted_on"] %></h4>
    <p style="margin-top: -15px;"><%= entry["description"] %></p>
  </div>
  <% end %>
</ul>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p><a href="/places">Back to All Places</a></p>

<!-- The normal form from the example in class was giving me a CSRF error, so I switched to this -->
<%= form_with(url: "/places/#{@place['id']}", method: "delete") do %>
  <button>Delete Place</button>
<% end %>

